*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*= 'col-']
{
    float: left;
    border: 1px solid gray;
}
.h-50{ height: 50px;}
.h-200{ height: 200px;}
.h-600{ height: 600px;}


.container
{
    width: 90%;
    height: auto;
    margin: auto;
}

@media screen and  (max-width: 560px)
{
    .bg-red{ background-color: red}
}

@media screen and  (max-width: 560px)
{
    .bg-red{ background-color: red}
    [class*='col-']
    {
        width: 100%;
    }
}
@media screen and  (min-width: 561px) and (max-width: 860px)
{
    .bg-red{ background-color: green}
    .col-m1{width: 8.33%;}
    .col-m2{width: 16.66%;}
    .col-m3{width: 25%;}
    .col-m4{width: 33.33%;}
    .col-m5{width: 41.66%;}
    .col-m6{width: 50%;}
    .col-m7{width: 58.33%;}
    .col-m8{width: 66.66%;}
    .col-m9{width: 75%;}
    .col-m10{width: 83.33%;}
    .col-m11{width: 91.66%;}
    .col-m12{width: 100%;}
}